* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(example.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.page-wrapper {
    overflow-x: hidden;
    height: 100%;
}
header {
    height: 80px;
    background-color: #fff;
}
header nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
header nav #mnv {
    display: none;
}
header nav ul {
    list-style-type: none;
    font-size: 1rem;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
header nav ul
li {
    display: inline-block;
    line-height: 80px;
    width: 120px;
    position: relative;
    background-color: #fff;
}
header nav ul
li a {
    color: #121212;
    display: block;
    text-decoration: none;
    padding: 0 20px;
}
header nav ul
li:hover {
    background-color: #f2f2f2;
}
header nav ul
li:hover
ul {
    height: auto;
    opacity: 1;
}
header nav ul
li ul {
    transition: all 0.5s ease;
    opacity: 0;
    height: 0;
    position: absolute;
    overflow: hidden;
    top: 80px;
    left: 0;
    border-radius: 0 0 6px 6px;
}
header nav ul
li
a:after {
    content: 34;

}
header nav ul
a:only-child:after {
    content: 34;

}
